body{ 
    display: grid;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
#cuadro1{ 
    height: 2000px;
    background-color: lightcoral;}
#cuadro2{
    background-color: lightblue;}
#rectangulo{
    width: 640px;
    height: 390px;
    background-color: lightyellow;
    margin: 20px;
}
.play{
    background: #444444;
}
#cuadro3{
    height: 1200px;
    background-color:lightseagreen;
}
#cuadradito1{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
}
#cuadradito2{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
}
#cuadradito3{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
}